.imageShow {
    width: auto;
    height: 350px;
    border-radius: 2%;
    margin: 5px;
}

.main_discover_container{
    display: flex;
    justify-content: center;
}

.masonary {
    display:flex;
    justify-content: center;
}

.item__content {
    /* display: -webkit-box; */
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    flex-flow:  wrap;
    width: 100%;
    height: auto;
    /* margin: 30px; */
    justify-content: center;

}
