.imageShow {
    width: auto;
    height: 350px;
    border-radius: 2%;
    margin: 5px;
}

.main_discover_container{
    display: flex;
    justify-content: center;
}

.masonary {
    display:flex;
    justify-content: center;
}


.image_card_title {
    color: white;
    /* position: relative; */
    font-size: 30px;
    /* top: px; */
    margin:0px;
    top: -40px;
    right: -30px;
    opacity: 0;
    transition: .3s;
    padding: 0px;
}

.image_card_title:hover{
    opacity: 1;
}


.item__content {
    /* display: -webkit-box; */
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    flex-flow:  wrap;
    width: 100%;
    height: auto;
    /* margin: 30px; */
    justify-content: center;

}
