.image_show {
    width:auto;
    height: 400px;
    /* width:500px;
    height: auto; */
    border-radius: 1%;
    margin: 5px;
}

.main_discover_container{
    display: flex;
    justify-content: center;
}

.masonary {
    display:flex;
    justify-content: center;
}


.image_card_title {
    color: white;
    position: relative;
    width: fit-content;
    font-size: 30px;
    margin:0px;
    top: -70px;
    right: -30px;
    opacity: 0;
    transition: .3s;
    padding: 0px;
    /* background-color: aliceblue; */
}

.text_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.item_content {
    display: flex;
    flex-flow:  wrap;
    width: 90vw;
    height: auto;
    justify-content: center;
    align-items: center;

}


.image_container:hover .image_card_title {
    opacity: 1;
}
