

.sign_up_form_container {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    width: 300px;
    border-radius: 10px;
    /* padding-top: 5px; */
    /* margin: 5px; */
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    width: 300px;
    border-radius: 10px;
    /* padding-top: 5px; */
    /* margin: 5px; */

}

.sign_up_page{
    display: flex;
    justify-content: center;
}

input {
    width:200px;
    height: 30px;
    border-radius: 4px;
}
