/* frontend/src/context/Modal.css */
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: #d9dfde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    border-radius: 10px;
    z-index: 1000;
    border: 5px solid #000000;
}

.zoom_modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    z-index: 1000;
}

.zoom_modal_content{
    position: sticky;
    background-color: #d9dfde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    z-index: 1000;
    border-radius: 10px;
    /* border: 5px solid #000000; */

}

.comment_modal {
    position: fixed;
    /* top: 100px; */
    right: 0;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* margin-top: 30px; */
    z-index: 300;

}

.comment_modal_content {
    position: sticky;
    background-color: #f2faf9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    /* z-index: 1000; */
    /* border-radius: 10px; */
    /* border: 5px solid #000000; */

}

.login_form_container, .demo_form_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
}

.login_form_container > input,
.login_form_container>div {
    margin-bottom: 10px;
}

.demo_form_container{
    margin-top: 10px;
}
