.my_edit_album_container {
    /* border: 5px red solid; */
    max-width: 1200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_album_title_input{
    margin: 10px;
}

.edit_album_label{
    font-size: 20px;
    /* font-weight: 600; */
}

.submit_album_title{
    width: fit-content;
    margin: 10px;
}

.my_edit_album_container{
    padding: 10px 30px;
}


.my_edit_album_image_container {
    display: grid;
    /* grid-gap: 5px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 1000px;
    height: fit-content;
    border: 2px solid grey;
    padding: 10px;
}

.edit_album_image_show{
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.edit_album_form{
    display: flex;
    flex-direction: column;
}

.return_albums{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.album_delete_image {
    position: relative;
    left: 0px;
    top: 32px;
    cursor: pointer;
    padding: 0px;
    margin-left: 5px;
    color: rgb(199, 33, 33);
    width: 20px;
    height: 20px;
}

.album_delete_image:hover {
    border: none;
    color: #325dba;
}

.my_edit_album_title_container {
    margin-bottom: 15px;
    width: 1200px;
}
