.my_edit_album_title {
    /* border: 5px red solid; */
}

.my_edit_album_container {
    /* border: red 5px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.my_edit_album_image_container {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: red 5px solid; */
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    border: 5px black solid;
    background-color: rgb(56, 78, 107);
    border-radius: 15px;
}

.album_image_button {
    position: relative;
    left: 75%;
    top: 50px;
}

.my_edit_album_title_container {
    margin-bottom: 15px;
}
