.edit_image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px 0px;
}

.delete_button_container{
    display: flex;
    justify-content: flex-end;
}

.delete_image_button{
    width: fit-content;
    margin-right: 10px;
}

.form_container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.edit_image_inputs{
    width: auto;
    resize: none;
    margin: 20px 50px;
}

.button_submit_edit{
    width: auto;
    display: flex;
    justify-content: space-evenly;
}


.edit_description_input_image:focus{
    outline: none;

}
