.create_image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.create_image_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

.create_image_form_inputs {
    margin: 10px;
}

.create_image_error {
    width: 10px;
    overflow-wrap: break-word;
}
