.view_image {
    width: 800px;
    height: auto;
    border-radius: 10px;
    border: 7px solid #2F3E52 ;

}

.view_image_title{
    color: White;
    font-size: 40px;
    border-bottom:5px solid white;
    width: fit-content;
}

.view_image_main_container {
    display: flex;
    justify-content: center;
}

.view_image_container {
    width: fit-content;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: red solid 4px; */

}

.view_image_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.view_image_comment_container{
    /* border: red 2px solid; */
    /* border-left: #2F3E52 5px solid;
    border-right: #2F3E52 5px solid; */
    width: 500px;
    /* height: 500px; */
    overflow-wrap: break-word;
    /* overflow-y: scroll; */

}

.view_image_description {
    border-bottom: #2F3E52 5px solid;
    width: 500px;
    color: black;
    /* border-left: #2F3E52 5px solid;
    border-right: #2F3E52 5px solid; */
}

.heading_description {
    font-size: 30px;
    color: black;
    /* border: red 2px solid; */
    /* border-left: #2F3E52 5px solid;
    border-right: #2F3E52 5px solid; */
}

.view_image_side_bar {
    border: #2F3E52 5px solid;
    border-radius: 5px;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 20px;
    margin-left: 50px;
    background-color: rgb(74, 98, 129);
}

/* comments */
.comment_text {
    color: black;
}

.single_comment_container {
    border-bottom: #2F3E52 3px solid;
    background-color: rgba(47, 62, 82,0);
    transition: background-color .45s;

}

.single_comment_container:hover {
    background-color: rgba(92, 122, 160,.7);
}

.all_comment_container{
    /* overflow-y: scroll; */
    height: 400px;
    /* border-bottom: #2F3E52 5px solid; */
    border-radius: 5px;
    overflow-y: scroll;
}

.comment_form{
    border-bottom: #2F3E52 5px solid;
}
