.view_image {
    width: 900px;
    height: auto;
    border-radius: 10px;

}

.view_image_title{
    color: White;
    font-size: 40px;
    border-bottom:5px solid whitesmoke;
}

.view_image_container {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.view_image_body {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
