.view_image {
    width: auto;
    height: 55vh;
    margin: 20px 0px;
    cursor: zoom-in;
}

.view_image_zoom{
    width: auto;
    max-height: 90vh;
    z-index: 1001;
    cursor: zoom-out;
}

.add_album_form{
    height: 20px;
    font-size: 15px;
    margin-bottom: 5px;
}

.album_plus_button{
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_info{
    color: rgb(3, 3, 3);
    font-size: 15px;
}

.image_info_top{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    /* align-items: baseline; */
}

.image_info_container{
    display: flex;
    flex-direction: column;
    width: 70%;

}

.view_image_title{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: fit-content;
}

.add_album_info{
    margin-top: 10px;
    display: flex;
    /* border: red 1px solid; */
}

.view_image_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view_image_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5rem;

}

.view_image_body {
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    width: 100%;
    background-color: #1c1a1a;
}

.view_image_comment_container{
    width: 500px;
    overflow-wrap: break-word;

}

.view_image_description {
    border-top: #2F3E52 5px solid;
    width: 500px;
    color: black;
}

.heading_description {
    font-size: 30px;
    color: black;
}

.view_image_side_bar {
    border: #2F3E52 5px solid;
    border-radius: 5px;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 20px;
    margin-left: 50px;
    background-color: #4a6281;
}

/* comments */
.comment_text {
    color: black;
}

.comment_container{
    width: 500px;
    height: 90vh;
    background-color: #e0e4e9;
    border: #4a6281 2px solid;

}

.close_comment_sidebar{
    position: relative;
    right: -460px;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

.comment_form{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 15px;
}

.comments_button{
    border: 3px solid rgb(50, 93, 186);
    background-color: rgb(50, 93, 186);
    color: white;
    padding: 5px 10px;
    transition: .5s;
    width: fit-content;
}

.comment_input{
    margin: 10px 0px;
    width: 400px;
    resize: none;
}

.single_comment_container {
    border-bottom: #2F3E52 3px solid;
    background-color: rgba(47, 62, 82,0);
    transition: background-color .45s;
    overflow-wrap: break-word;
    padding: 5px;

}

.submit_comment_button{
    width: fit-content;
    margin: 10px 0px;
}

.delete_comment_button{
    position: relative;
    /* width: 10px; */
    height: 0px;
    right: -455px;
    z-index: 1000px;
    opacity: 0;
    cursor: pointer;
}

.single_comment_container:hover .delete_comment_button{
    opacity: 1;
}

.comment_info{
    font-weight: 600;
    margin-bottom: 5px;
}
.comment_content{
    font-size: 18px;
}
.comment_date{
    font-weight: 600;
    font-size: 13px;
}

.single_comment_container:hover {
    background-color: rgba(92, 122, 160,.7);
}

.all_comment_container{
    overflow-y: scroll hidden;
    overflow-x: hidden;
    /* best way to do this? CK */
    width: 500px;
    height: 610px;
    border-top: #2F3E52 5px solid;
    -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
}

.all_comment_container::-webkit-scrollbar{
    display: none;
}
