.add_album_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
    padding: 10px;
}

.add_album_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 400px; */
    /* height: 100px; */
}

.add_album_inputs {
    /* width: auto; */
    /* height: 200px; */
    resize: none;
    margin: 20px 10px;
}

.error_list{
    width: 250px;
}

.button_submit_container{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 10px ;
}
